body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 40px;
    color: #2d3436;
}
a{
    text-decoration: none;
    color: inherit;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
    border-top: 5px solid #ff9f43; /* Vibrant Orange */
}

.card:hover {
    transform: translateY(-5px);
}

.card-header {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badge {
    background-color: #ffeaa7;
    color: #d35400;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
}

.link-badge{
    margin-top: 20px;
}

.price {
    font-size: 1.2em;
    font-weight: 700;
    color: #2d3436;
}

.card-body {
    padding: 20px;
}

.card-body h3 {
    margin: 0 0 5px 0;
    color: #2d3436;
}

.sub-text {
    color: #636e72;
    font-size: 0.9em;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.specs-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.spec-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #636e72;
    font-size: 0.9em;
}

.spec-item i {
    color: #ff9f43; /* Icon color */
    width: 20px;
}